.contaner{
    max-width: 50%;
    margin: 0 auto;
    border: solid 1px;
    color:black;
    padding: 100px;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    background-color:(196, 238, 255);;
}


.bolder{
    border-bottom: solid 3px ;
    color:aqua
}

.header{
    margin: 20px 25px 20px;
    color:rgb(54, 67, 77);
    background-color: rgb(196, 238, 255);
}
.header2{
padding: 0 auto; 
background-color: rgb(196, 238, 255);
}

.body{
background-color: #da0b0b99
}
.contaner2 {
    color: var(--bs-gray-800);
    border: 1px solid var(--bs-gray-200);
    border-radius: .25rem;
  }
    